<!DOCTYPE html>
<html>
<head>
    <title>Delete Booking</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Delete Booking</h1>
    <p>Are you sure you want to delete the booking for destination "{{ booking.destination.name }}" on {{ booking.date }}?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'booking_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
</body>
</html>
