@import "tailwindcss";

body {
  @apply bg-gray-900 text-white;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #8e2de2, #4a00e0);
  border-radius: 10px;
}

.input-class {
  @apply w-full p-2 mb-2 rounded bg-gray-800 text-white;
}

.btn-primary {
  @apply bg-gradient-to-r from-pink-500 to-purple-600 text-white px-4 py-2 rounded hover:opacity-80;
}

.btn-warning {
  @apply bg-yellow-500 text-black px-3 py-1 rounded hover:opacity-80;
}

.btn-danger {
  @apply bg-red-600 text-white px-3 py-1 rounded hover:opacity-80;
}
